.sign-backgnd{
  background: linear-gradient(to top, #ffffff 0%,#f8e5e5 59%);
  padding-top:40px;
  .auth-standalone{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 75px;
    background-color: white;
    // padding: 0px 40px;
    padding-bottom: 50px;
    border: 1px solid #dbcccc;
    padding-top: 40px;
  }
  .auth-container{
    padding:0;
  }
  .sign-backgnd .auth-standalone {
    padding-top: 0;
  }
  
}
