.card{
  position: relative;
  margin: 10px;
  width: 300px;
  .card-content{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

  }

  .test:hover{
    display: block;
  }
  .selled-badge {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: aqua;
    z-index: 2;
    border-radius: 50%;
    background-color: #FA255E;
    color: black;
    padding: 5px;
  }
  .selled-img {
    filter: brightness(50%);
  }
  .vendido {
    position: absolute;
    z-index: 2;
    right: 120px;
    font-size: 1rem;
  }
  .card-image{
    width: 100%;
    height: 300px;
  }
  img {
    filter: brightness(100%);
    transition: 0.2s ease-out;
    // height: 250px;
    width: 100%;
        height: 100%;
        object-fit: cover;
  }
  .product-card{
    overflow: hidden;
  }
  img:hover {
    filter: brightness(50%);
  }
  .price {
    font-weight: bold;
  }
}