#footer {
  background-color: #FA255E;
  height: 50px;
  width: 100vw;
  z-index: 10;
 
  
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

  footer {
    margin-right: 20px;
    font-weight: bold;
    font-size: 0.9rem;
  }

  

}