#footer {
  background-color: #FA255E;
  height: 50px;
  width: 100vw;
  z-index: 10;
 
  position: fixed;
    left: 0;
    bottom: 0;

  footer {
    position: absolute;
    right: 20px;
    top: 17px;
    margin-top: auto;
    font-weight: bold;
    font-size: 0.9rem;
  }

  

}