#modal-0{
  height:90%;
  max-width: 70%;
  
  .modal{
    height:80%
  }
  .modal-fixed-footer{
    height:80%;
  }
}

.modal-content {
  line-height: 1rem;
  .modal{
    max-height:80%;
    max-width: 70%;
  }
 
  h4 {
    text-align: center;
    font-size: 1.5rem;
  }
  .auth-container {
    width: 40vw;
    margin: 20px auto;
  
    
  }
  .google-auth {
    width:100%;
    text-decoration: none;
  }
  a {
    color: white;
  }
  p {
    font-size: 1.2rem;;
  }
  .btn, .google-auth{
    width: 100%;
    height: 35px;
    

  }
  .btn-large {
    line-height: 0;

  }



 
}



