.modal-content {
  h4 {
    text-align: center;
  }
  .auth-container {
    width: 40vw;
    margin: 40px auto;
    
  }
  .google-auth {
    width:100%;
    text-decoration: none;
  }
  a {
    color: white;
  }


 
}


